{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for manga in mangas %}
        <article class="manga">
            <h2>
                <a href="{{ path('blog_manga', {id: manga.id}) }}">
                    {{ manga.title }}
                </a>
            </h2>

            <p class="manga-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ manga.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ manga.author.name }}</span>
            </p>

            <p>{{ manga.title }}</p>

            {{ include('blog/_manga_tags.html.twig') }}
        </article>
    {% else %}
        <div class="well">{{ 'manga.no_mangas_found'|trans }}</div>
    {% endfor %}

    {% if mangas.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(mangas, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
