{% extends 'base.html.twig' %}

{% block body_id 'blog_manga_show' %}

{% block main %}
    <h1>{{ manga.title }}</h1>

    <p class="manga-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ manga.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ manga.author.name }}</span>
    </p>

    {{ manga.title|md2html }}

    {{ include('blog/_manga_tags.html.twig') }}

{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', manga) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_manga_edit', {id: manga.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_manga'|trans }}
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
