{% import "macro/encore.html.twig" as encore %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore.encore_absolute_link_tags('css/about') }}
{% endblock %}

{% block main %}
    <div class="roadmap">
        <h2 class="neon-tube neon-text-cyan">{{ 'about.roadmap'|trans }}</h2>
        <div class="timeline-content">
            <div class="timeline">
                <div class="timeline-items">
                    <div class="row">
                        <div class="item">
                            <div class="item-content">
                                <div class="item-icon">
                                    <div class="icon fa fa-check"></div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.search_system'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.download_manga'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.i18n'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'search.sort'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.viewers_system'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.mobile_ergonomics'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.create_thumb_manga'|trans }}</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" checked disabled>
                                            <label>{{ 'about.create_disclaimer'|trans }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="author">
                                <p class="paragraph">
                                    {{ 'about.completed'|trans }} {{ '22-05-2019' | localizeddate('medium', 'none', app.request.locale ) }}
                                    !
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="item-content">
                                <div class="item-icon">
                                    <div class="icon fa fa-clock-o"></div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <label>{{ 'about.count_manga_views'|trans }}</label> <input type="checkbox"
                                                                                                        checked
                                                                                                        disabled>
                                        </li>
                                        <li>
                                            <label>{{ 'about.about_page'|trans }}</label> <input type="checkbox"
                                                                                                 checked disabled>
                                        </li>
                                        <li>
                                            <label>{{ 'about.fix_import_break_manga'|trans }}</label> <input
                                                    type="checkbox" disabled>
                                        </li>
                                        <li>
                                            <label>{{ 'about.upgrade_search_system'|trans }}</label> <input
                                                    type="checkbox" disabled>
                                        </li>
                                        <li>
                                            <label>{{ 'about.remake_interface'|trans }}</label> <input type="checkbox"
                                                                                                       disabled>
                                        </li>
                                        <li>
                                            <label>{{ 'about.create_readme'|trans }}</label> <input type="checkbox"
                                                                                                    checked disabled>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="author">
                                <p class="paragraph">
                                    {{ 'about.progress'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="help">
        <h2 class="neon-tube neon-text-orange">{{ 'about.help'|trans }}</h2>
        <div>
            <br>
            <h4>{{ 'about.hello'|trans }}</h4>
            <br>
            <p>{{ 'about.project'|trans|nl2br }}
                <br>
                {{ 'about.issue1'|trans }}<a class="important-link"
                                             href="{{ app.request.server.get('GITHUB_PROJECT_ISSUE_URL') }}">Github</a>
                {{ 'about.issue2'|trans }}
                <br>
                {{ 'about.developper'|trans }}
                <br>
                {{ 'about.donate_text1'|trans }}
                <a class="important-link dbox-donation-button"
                   href="{{ app.request.server.get('DONATION_URL') }}">
                    {{ 'about.donate_text2'|trans }}
                </a>
                {{ 'about.donate_text3'|trans }}
                <br>
                <br>
                {{ 'about.thanks'|trans }}
            </p>
        </div>
        <div class="button-list">
            <a class="dbox-donation-button btn donate"
               href="{{ app.request.server.get('DONATION_URL') }}">{{ 'about.donate'|trans }}
            </a>
            <a class="github-button" href="{{ app.request.server.get('GITHUB_PROJECT_ISSUE_URL') }}"
               aria-label="Help {{ app.request.server.get('APP_NAME') }} on GitHub">{{ 'about.github_help'|trans }} {{ app.request.server.get('APP_NAME') }}
                {{ 'about.on'|trans }} Github</a>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
{% endblock %}