{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="8d4086d5a68cccff50b8627952e6e0a1a987e857" content="8d4086d5a68cccff50b8627952e6e0a1a987e857"/>
    {#
    <meta name="trafficjunky-site-verification" content="{{ app.request.server.get('TRAFFICJUNKY_TAG') }}"/>
    #}
    <title>{% apply spaceless %}{{ app.request.server.get('APP_NAME') }} - {% block title %}{{ app.request.server.get('APP_KEYWORD') }}{% endblock %}{% endapply %}</title>
    <meta name="description"
          content="{% apply spaceless %}{% block meta_description %}{{ app.request.server.get('APP_NAME') ~ 'meta.description'|trans({"%tags%":app.request.server.get('APP_KEYWORD') }) }}{% endblock %}{% endapply %}"/>
    <meta name="keywords"
          content="{% apply spaceless %}{% block meta_keyword %}{{ app.request.server.get('APP_KEYWORD') }}{% endblock %}{% endapply %}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ app.request.getSchemeAndHttpHost() ~ asset('logo.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url('index') }}">
                        {{ app.request.server.get('APP_NAME') }}
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <form action="{{ url('search') }}" method="get" class="navbar-form navbar-left">
                            <div class="form-group search-navbar">
                                <input name="q"
                                       class="form-control search-field"
                                       id="search_field"
                                       placeholder="{{ 'post.search_for'|trans }}"
                                       autocomplete="off"
                                       autofocus
                                       value="{{ app.request.query.get('q') }}"
                                >
                                <button type="submit" class="btn btn-default search-button">GO !</button>
                            </div>
                            <div class="switch-div">
                                <label class="Switch o-pen">
                                    <input type="checkbox" name="sort" class="switch-input a-neonToggle" id="toggle"
                                           {% if app.session.get('sort') %}checked{% endif %}>
                                    <span class="a-neonText -main">
                                    {{ 'search.sort'|trans }} <i id="bubble-info" class="fa fa-info-circle"
                                                                 data-toggle="popover"
                                                                 data-content="{{ 'search.sort.info'|trans }}"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ app.request.server.get('SHOP_LINK') }}"
                                   rel="nofollow" target="_blank">
                                    <i class="fas fa-shopping-cart" aria-hidden="true"></i> Shop
                                </a>
                            </li>
                            <li>
                                <a href="{{ '/'~ app.request.server.get('APP_NAME')|lower }}.apk"
                                   rel="nofollow" target="_blank">
                                    <i class="fas fa-mobile-alt" aria-hidden="true"></i> App
                                </a>
                            </li>
                            <li>
                                <a class="tags {% if app.request.uri == url('tags') %}active{% endif %}"
                                   href="{{ url('tags') }}">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i> {{ 'manga.tag'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="contact {% if app.request.uri == url('about') %}active{% endif %}"
                                   href="{{ url('about') }}">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'menu.about'|trans }}
                                </a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li>
                                    <a class="login {% if app.request.uri == url('user_index') %}active{% endif %}"
                                       href="{{ url('user_index') }}">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="login {% if app.request.uri == url('app_login') %}active{% endif %}"
                                       href="{{ url('app_login') }}">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.login'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false" id="locales">
                                <i class="fa fa-globe-americas" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                            </a>

                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem"><a
                                                href="{{ url(app.request.get('_route', 'index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div id="main" class="col-sm-12">
            {% block main %}{% endblock %}
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
