{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% apply spaceless %}{{ app.request.server.get('APP_NAME') }} - {% block title %}{{ app.request.server.get('APP_KEYWORD') }}{% endblock %}{% endapply %}</title>
    <meta name="description"
          content="{% apply spaceless %}{% block meta_description %}{{ app.request.server.get('APP_NAME') ~ 'meta.description'|trans({"%tags%":app.request.server.get('APP_KEYWORD') }) }}{% endblock %}{% endapply %}"/>
    <meta name="keywords"
          content="{% apply spaceless %}{% block meta_keyword %}{{ app.request.server.get('APP_KEYWORD') }}{% endblock %}{% endapply %}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ app.request.getSchemeAndHttpHost() ~ asset('logo.ico') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.9.2/css/flag-icons.min.css"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <img class="navbar-brand-logo" src="{{ app.request.getSchemeAndHttpHost() ~ asset('logo.webp') }}">
                    <a class="navbar-brand" href="{{ url('index') }}">
                        {{ app.request.server.get('APP_NAME') }}
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if 'advanced_search' in app.request.uri == false %}
                        <ul class="nav navbar-nav">
                            <form action="{{ url('search') }}" method="get" class="navbar-form navbar-left">
                                <div class="form-group search-navbar">
                                    <input name="q"
                                           class="form-control search-field"
                                           id="search_field"
                                           placeholder="{{ 'post.search_for'|trans }}"
                                           autocomplete="off"
                                           minlength="3"
                                           autofocus
                                           value="{{ app.request.query.get('q') }}"
                                    >
                                    <button type="submit" class="btn btn-default search-button">GO !</button>
                                    {% include 'tag_search.html.twig' %}

                                </div>
                            </form>
                        </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% block header_navigation_links %}
                            <li>
                                <a class="trending" href="{{ path('shop') }}">
                                    <i class="fas fa-cart-shopping" aria-hidden="true"></i> {{ 'shop.title'|trans }}
                                </a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li id="menu-user-button">
                                    <a class="dropdown-toggle login" data-toggle="dropdown" role="button"
                                       aria-expanded="false" id="locales">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.user'|trans }}<span
                                                class="caret"></span>
                                    </a>
                                </li>
                                <ul class="dropdown-menu" id="menu-user" role="menu" aria-labelledby="locales">
                                    <li {% if app.request.uri == url('user_index') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_index') }}">
                                            <span class="fa fa-house"></span>
                                            {{ 'account.index'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('user_edit') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_edit') }}">
                                            <span class="fa fa-pencil"></span>
                                            {{ 'account.edit'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('user_pay') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_pay') }}">
                                            <span class="fa fa-lock-open"></span>
                                            {{ 'subscribe.title'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('user_credit') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_credit') }}">
                                            <span class="fa fa-coins"></span>
                                            {{ 'credit.title'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('user_invoice') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_invoice') }}">
                                            <span class="fa fa-receipt"></span>
                                            {{ 'invoice.title'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('user_help') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('user_help') }}">
                                            <span class="fa fa-info-circle"></span>
                                            {{ 'account.help'|trans }}
                                        </a>
                                    </li>
                                    <li {% if app.request.uri == url('app_logout') %}aria-checked="true"
                                        class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url('app_logout') }}">
                                            <span class="fa fa-right-to-bracket"></span>
                                            {{ 'account.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                                <li>
                                    <a class="login {% if app.request.uri == url('app_login') %}active{% endif %}"
                                       href="{{ url('app_login') }}">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.login'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            <li id="menu-app-button">
                                <a class="dropdown-toggle tags" data-toggle="dropdown" role="button"
                                   aria-expanded="false" id="locales">
                                    <i class="fa fa-bars" aria-hidden="true"></i> {{ 'menu.menu'|trans }}<span
                                            class="caret"></span>
                                </a>
                            </li>
                            <ul class="dropdown-menu" id="menu-app" role="menu" aria-labelledby="locales">
                                <li {% if app.request.uri == url('advanced_search') %}aria-checked="true" class="active"
                                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                                    <a href="{{ url('advanced_search') }}">
                                        <span class="fa fa-magnifying-glass"></span>
                                        {{ 'manga.advanced_search'|trans }}
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('tags') %}aria-checked="true" class="active"
                                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                                    <a href="{{ url('tags') }}">
                                        <span class="fa fa-hashtag"></span>
                                        {{ 'manga.tag'|trans }}
                                    </a>
                                </li>
                                <li {% if app.request.uri == url('index_trending') %}aria-checked="true"
                                    class="active"
                                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                                    <a href="{{ url('index_trending') }}">
                                        <span class="fa fa-fire"></span>
                                        {{ 'search.sort'|trans }}
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a id="help" rel="nofollow"
                                       target="_blank"
                                       href="{{ '/'~ app.request.server.get('APP_NAME')|lower }}.apk">
                                        <span class="fa fa-download"></span> {{ 'account.app'|trans }}
                                    </a>
                                </li>

                                <li {% if app.request.uri == url('about') %}aria-checked="true" class="active"
                                    {% else %}aria-checked="false"{% endif %} role="menuitem">
                                    <a href="{{ url('about') }}">
                                        <span class="fa fa-info-circle"></span>
                                        {{ 'menu.about'|trans }}
                                    </a>
                                </li>
                            </ul>
                        {% endblock %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false" id="locales">
                                <i class="fa fa-globe-americas" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                            </a>

                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                                {% for locale in locales() %}
                                    <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                                        <a href="{{ url(app.request.get('_route', 'index'),app.request.get('_route_params', [])|merge(app.request.query.all())|merge({_locale: locale.code})) }}">
                                            <span class="fi fi-{{ locale.code }}"></span>
                                            {{ locale.name|capitalize }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false or app.user.isPatreonAllow(1) == false %}
                <div class="unlock">
                    {{ 'banner.unlock.text'|trans() }}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == true and app.user.isPatreonAllow(1) == false %}
                        <a href="{{ path('user_pay') }}">{{ 'banner.unlock.button'|trans() }}</a>
                    {% else %}
                        <a href="{{ path('shop') }}">{{ 'banner.unlock.button'|trans() }}</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == true and user is defined %}
                <div id="credit"><a href="{{ path('user_credit') }}" class="btn-flip"
                                    data-front="{{ user.credits }} credits"></a></div>
            {% endif %}
        </nav>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div id="main" class="col-sm-12">
            {% block main %}{% endblock %}
        </div>
    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
