<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{{ app.request.server.get('APP_NAME') }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/disclaimer') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/logo.ico') }}" />
    </head>
    <body>
        <div class="outer">
            <div class="middle">
                <div class="disclaimer">
                    {{ 'disclaimer.text'|trans }}
                        <a href="{{ path('index',{'disclaimer':1}) }}">
                            {{ 'disclaimer.button'|trans }}
                        </a>
                </div>
            </div>
        </div> 
        <div class="background-disclaimer">
        </div>
    </body>
</html>