{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
    <div class='manga-container'>
        {% for manga in mangas %}
            <article class="manga col-sm-3">
                <a href="{{ path('manga', {id: manga.id}) }}">
                    <img class='img-thumbnail' src='{{ manga.link }}'>
                    <h2 class='img-name'>{{ manga.title }}</h2>
                </a>
            </article>
        {% else %}
            <div class="well">{{ 'manga.no_mangas_found'|trans }}</div>
        {% endfor %}
    </div>
    {% if mangas.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(mangas, 'twitter_bootstrap3_translated', {routeName: 'index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}