{% import "macro/encore.html.twig" as encore %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore.encore_absolute_link_tags('css/show') }}
{% endblock %}

{% block main %}
    <h1>{{ manga.title | raw }}</h1>

    <p class="manga-metadata">
        <span class="metadata"><i
                    class="fa fa-calendar"></i> {{ manga.publishedAt|localizeddate('long', 'none', null, 'UTC') }}</span>

    </p>
    {% if not manga.languages.empty %}
        <p>
            <a>{{ 'manga.language'|trans }} : </a>
            {% for language in manga.languages %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': language.name == app.request.query.get('language') ? null : language.name}) }}"
                       class="label label-{{ language.name == app.request.query.get('language') ? 'success' : 'default' }}"
                    >
                        <i class="fa fa-commenting"></i> {{ language.name }}
                    </a>
                    <i class="counter label"> {{ mangaRepository.countByLanguage(language) }}</i>
                </span>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.parodies.empty %}
        <p>
            <a>{{ 'manga.parody'|trans }} : </a>
            {% for parody in manga.parodies %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': parody.name == app.request.query.get('parody') ? null : parody.name}) }}"
                       class="label label-{{ parody.name == app.request.query.get('parody') ? 'success' : 'default' }}"
                    >
                        <i class="fa fa-folder"></i> {{ parody.name }}
                    </a>
                    <i class="counter label"> {{ mangaRepository.countByParody(parody) }}</i>
                </span>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.tags.empty %}
        <p>
            <a>{{ 'manga.tag'|trans }} : </a>
            {% for tag in manga.tags %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                       class="label label-{{ tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                    >
                        <i class="fa fa-hashtag"></i> {{ tag.name }}

                    </a>
                    <i class="counter label">{{ mangaRepository.countByTag(tag) }}</i>
                </span>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.authors.empty %}
        <p>
            <a>{{ 'manga.author'|trans }} : </a>
            {% for author in manga.authors %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': author.name == app.request.query.get('author') ? null : author.name}) }}"
                       class="label label-{{ author.name == app.request.query.get('author') ? 'success' : 'default' }}"
                    >
                        <i class="fa fa-user"></i> {{ author.name }}

                    </a>
                    <i class="counter label">{{ mangaRepository.countByAuthor(author) }}</i>
                </span>
            {% endfor %}
        </p>
    {% endif %}
    <p class="count-views">{{ 'manga.count_views'|trans }} : {{ manga.countViews }}</p>
    <a class="btn download" target="_blank"
       href="{{ url('download', {'id':manga.id}) }}">{{ 'manga.download'|trans }}</a>
    <div class="row">
        {% for image in images %}
            {% if image matches '{\.jpg$}' %}
                <article class="image col-sm-3">
                    <img alt="{{ manga.title | raw }} {{ 'manga.image_alt'|trans({'%count%':loop.index}) }}"
                         title="{{ manga.title | raw }} {{ 'manga.image_alt'|trans({'%count%':loop.index}) }}"
                         class='img-view'
                         src='{{ app.request.getSchemeAndHttpHost() ~ asset( 'media/' ~ manga.id ~ '/' ~ image ) }}'>
                </article>
            {% endif %}
        {% else %}
            <div class="well">{{ 'manga.no_images_found'|trans }}</div>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore.encore_absolute_script_tags('js/show') }}
    {% endblock %}
{% endblock %}

{% block title %}
    {{ manga.title | raw }}
{% endblock %}

{% block meta_description %}
    {{ manga.title | raw }}{{ manga.tags | join(',',' and ') }}
{% endblock %}

{% block meta_keyword %}
    {{ manga.tags | join(',') }}
{% endblock %}
