<div class='manga-container'>
    {% for manga in mangas %}
        <article class="manga col-sm-3">
            <a href="{{ url('manga', {id: manga.id}) }}">
                <img alt="{{ manga.title |raw }}" title="{{ manga.title |raw }}" class='img-thumbnail'
                     src='{{ app.request.getSchemeAndHttpHost() ~ asset( 'media/' ~ manga.id ~ '/thumb.webp' ) }}'>
                <div class="img-name">
                    <h2>{{ manga.title |raw }}</h2>
                    <p class="manga-count-pages">{{ manga.countPages }} <i class="fa-regular fa-images"></i></p>
                    {% if not manga.languages.empty %}
                        <p>
                            <a>{{ 'manga.language'|trans }} : </a>
                            {% for language in manga.languages %}
                                <span class="label-container">
                                    <i class="fa fa-language"></i> {{ language.name }}
                                </span>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </a>
        </article>
    {% else %}
        <div class="well">{{ 'manga.no_mangas_found'|trans }}</div>
    {% endfor %}
</div>

<div class="navigation text-center">
    {% include 'paginator.html.twig' %}
</div>