<div class='manga-container'>
    {% for manga in mangas %}
        <article class="manga col-sm-3" itemscope itemtype="https://schema.org/Book">
            <a href="{{ url('manga', {id: manga.id}) }}">
                <div class="image-container" itemprop="thumbnail">
                    <p class="manga-information">
                        {% if manga.languages is defined %}
                            {% for language in manga.languages %}
                                {% if language.code %}
                                    <span class="fi fi-{{ language.code }}"></span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    <p class="manga-count-pages" itemprop="numberOfPages">
                        {{ manga.countPages - 1 }} <i class="fa-regular fa-images"></i>
                    </p>
                    <div class="thumbnail-tag">
                        {% if manga.tags is defined and not manga.tags.empty %}
                            {% for tag in manga.tags|slice(0,5) %}
                                <object>
                                    <a href="{{ url('search', {'q': tag.name == app.request.query.get('tag') ? null : tag.name, 's':true}) }}"
                                       totalx="158" draggable="false">
                                        <span class="tag-rounded" totalx="158">{{ tag.name }}</span>
                                    </a>
                                </object>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <img alt="{{ manga.title |raw }}" title="{{ manga.title |raw }}" class='img-thumbnail'
                         src='{{ app.request.getSchemeAndHttpHost() ~ asset( 'media/' ~ manga.id ~ '/thumb.webp' ) }}'>
                </div>
                <div class="img-name">
                    <h2 itemprop="name">{{ manga.title |raw }}</h2>
                </div>
            </a>
        </article>
    {% else %}
        <div class="well">{{ 'manga.no_mangas_found'|trans }}</div>
    {% endfor %}
</div>

<div class="navigation text-center">
    {% include 'paginator.html.twig' %}
</div>
