{% set folder = manga.isOld ? 'media_old' : 'media' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/show') }}
{% endblock %}

{% block title %}{{ manga.title }}{% endblock %}

{% block meta_description %}
    {{ 'meta.description.manga'|trans ~ manga.title | raw  ~ 'meta.description.with'|trans }} {{ manga.tags | join(',',' and ') }}
{% endblock %}

{% block meta_keyword %}
    {% if manga.tags.count > 0 %}
        {{ manga.tags | join(',') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block main %}
    <h1>{{ manga.title | raw }}</h1>
    {% if not manga.tags.empty %}
        <div class="tags">
            {% for tag in manga.tags %}
                <span class="label-container">
                                    <a href="{{ url('search', {'q': tag.name == app.request.query.get('tag') ? null : tag.name, 's':true}) }}"
                                       class="label label-default" data-umami-event="tag">
                                        {{ tag.name }}
                                        <i class="counter label ">{{ mangaRepository.countByTag(tag) }}</i>
                                    </a>
                                </span>
            {% endfor %}
        </div>
    {% endif %}
    <p id="description-toggle" data-umami-event="see-more">{{ 'manga.see_more'|trans }}</p>
    <div id="manga-description" class="manga-description">
        <p class="manga-metadata">
            <span class="metadata"><i
                        class="fa fa-calendar-alt"></i> {{ manga.publishedAt|format_datetime('long', 'none') }}</span>
        </p>
        {% if not manga.languages.empty %}
            <p>
                <a>{{ 'manga.language'|trans }} : </a>
                {% for language in manga.languages %}
                    <span class="label-container">
                        <a href="{{ url('search', {'q': language.name == app.request.query.get('language') ? null : language.name, 's':true}) }}"
                           class="label label-{{ language.name == app.request.query.get('language') ? 'success' : 'default' }}"
                        >
                            {% if language.code %}
                                <span class="fi fi-{{ language.code }}"></span> {{ language.name }}
                            {% else %}
                                <i class="fa fa-language"></i> {{ language.name }}
                            {% endif %}
                            <i> {{ mangaRepository.countByLanguage(language) }}</i>

                        </a>
                    </span>
                {% endfor %}
            </p>
        {% endif %}

        {% if not manga.authors.empty %}
            <p>
                <a>{{ 'manga.author'|trans }} : </a>
                {% for author in manga.authors %}
                    <span class="label-container">
                        <a href="{{ url('search', {'q': author.name == app.request.query.get('author') ? null : author.name, 's':true}) }}"
                           class="label label-{{ author.name == app.request.query.get('author') ? 'success' : 'default' }}">
                            <i class="fa fa-user"></i> {{ author.name }}
                        <i>{{ mangaRepository.countByAuthor(author) }}</i>
                        </a>
                    </span>
                {% endfor %}
            </p>
        {% endif %}
        <p class="count-views">{{ 'manga.count_views'|trans }} : {{ manga.countViews }} <i class="fa fa-eye"></i></p>

    </div>
    <div id="download-container">
        <a class="btn-effect raise download" data-umami-event="download" target="_blank"
           href="{{ url('download', {'id':manga.id}) }}"><i
                    class="fa fa-download "></i> {{ 'manga.download'|trans }}</a>

        {% if app.user is not null %}
            {% if manga in app.user.getFavoriteMangas %}
                {% set buttonText = 'manga.remove_favorite'|trans %}
                {% set url = url('remove_favorite',{"id":manga.id}) %}
            {% else %}
                {% set buttonText = 'manga.add_favorite'|trans %}
                {% set url = url('add_favorite',{"id":manga.id}) %}
            {% endif %}

            <a class="btn-effect raise add-favorite"
               data-url="{{ url }}"><i class="fa fa-star"> </i>{{ buttonText }}</a>

        {% endif %}
    </div>
    <div class="row" id="lightgallery">
        {% for image in images %}
            {% if image matches '{\.jpg$}' %}
                <article class="image col-sm-2"
                         data-src='{{ app.request.getSchemeAndHttpHost() ~ asset( folder ~ '/' ~ manga.id ~ '/' ~ image ) }}'>
                    <img alt="{{ manga.title | raw }} {{ 'manga.image_alt'|trans({'%count%':loop.index}) }}"
                         title="{{ manga.title | raw }} {{ 'manga.image_alt'|trans({'%count%':loop.index}) }}"
                         class='img-view'
                         src='{{ app.request.getSchemeAndHttpHost() ~ asset( folder ~ '/' ~ manga.id ~ '/' ~ image ) }}'>
                </article>
            {% endif %}
        {% else %}
            <div class="well">{{ 'manga.no_images_found'|trans }}</div>
        {% endfor %}
    </div>
    {% if mangas_recommended is not empty %}
        <div id="recommended">
            <h2>{{ 'manga.recommended'|trans }}</h2>
            <div class="manga-recommended-container" data-umami-event="recommended">
                {% for manga in mangas_recommended %}
                    {% include 'manga.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('show') }}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebPage",
                "breadcrumb": "Books > Manga",
                "mainEntity": {
                    "@type": "Book",
                    "author": "{{ manga.authors|join(',') }}",
                    "bookFormat": "http://schema.org/EBook",
                    "datePublished": "{{ manga.publishedAt|format_datetime('long', 'none', 'UTC') }}",
                    "thumbnail": "{{ app.request.getSchemeAndHttpHost() ~ asset( folder ~ '/' ~ manga.id ~ '/thumb.webp' ) }}",
                    "inLanguage": "{{ manga.languages|join(',') }}",
                    "name": "{{ manga.title }}",
                    "numberOfPages": "{{ manga.countPages - 1 }}",
                    "publisher": "{{ app.request.server.get('APP_NAME') }}",
                    "aggregateRating": {
                        "@type": "AggregateRating",
                        "reviewCount": "{{ manga.countViews }}",
                        "ratingValue": "5"
                    }
                }
            }

















        </script>
    {% endblock %}
{% endblock %}
