{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/show') }}
{% endblock %}
{% block body_id 'manga_show' %}

{% block main %}
    <h1>{{ manga.title | raw }}</h1>

    <p class="manga-metadata">
    <span class="metadata"><i
                class="fa fa-calendar"></i> {{ manga.publishedAt|localizeddate('long', 'none', null, 'UTC') }}</span>
    {% if manga.author.name is defined %}
        <span class="metadata"><i class="fa fa-user"></i> {{ manga.author.name }}</span>
    {% endif %}
    {% if not manga.languages.empty %}
        <p>
            <a>{{ 'manga.language'|trans }} : </a>
            {% for language in manga.languages %}
                <a href="{{ path('search', {'q': language.name == app.request.query.get('language') ? null : language.name}) }}"
                   class="label label-{{ language.name == app.request.query.get('language') ? 'success' : 'default' }}"
                >
                    <i class="fa fa-commenting"></i> {{ language.name }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.parodies.empty %}
        <p>
            <a>{{ 'manga.parody'|trans }} : </a>
            {% for parody in manga.parodies %}
                <a href="{{ path('search', {'q': parody.name == app.request.query.get('parody') ? null : parody.name}) }}"
                   class="label label-{{ parody.name == app.request.query.get('parody') ? 'success' : 'default' }}"
                >
                    <i class="fa fa-folder"></i> {{ parody.name }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.tags.empty %}
        <p>
            <a>{{ 'manga.tag'|trans }} : </a>
            {% for tag in manga.tags %}
                <a href="{{ path('search', {'q': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                   class="label label-{{ tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                >
                    <i class="fa fa-hashtag"></i> {{ tag.name }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
    {% if not manga.authors.empty %}
        <p>
            <a>{{ 'manga.author'|trans }} : </a>
            {% for author in manga.authors %}
                <a href="{{ path('search', {'q': author.name == app.request.query.get('author') ? null : author.name}) }}"
                   class="label label-{{ author.name == app.request.query.get('author') ? 'success' : 'default' }}"
                >
                    <i class="fa fa-user"></i> {{ author.name }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
    </p>
    <a class="btn download" target="_blank"
       href="{{ path('download', {'id':manga.id}) }}">{{ 'manga.download'|trans }}</a>
    <div class="row">
        {% for image in images %}
            <article class="image col-sm-3">
                <img class='img-view' src='{{ asset( 'media/' ~ manga.id ~ '/' ~ image ) }}'>
            </article>
        {% else %}
            <div class="well">{{ 'manga.no_images_found'|trans }}</div>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/show') }}
    {% endblock %}
{% endblock %}
