{% set isLocked = (manga.isOld or manga.isBlocked) and (is_granted('IS_AUTHENTICATED_REMEMBERED') == false or app.user.isPatreonAllow(1) == false) %}
<article class="manga col-sm-3" itemscope itemtype="https://schema.org/Book">
    <a href="{% if isLocked %}{{ app.request.server.get('PATREON_LINK') }}{% else %}{{ url('manga', {id: manga.id}) }}{% endif %}">
        <div class="image-container {% if isLocked %} neon-frame {% endif %}"
             itemprop="thumbnail">
            <p class="manga-information">
                {% if manga.languages is defined %}
                    {% for language in manga.languages %}
                        {% if language.code %}
                            <span class="fi fi-{{ language.code }}"></span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <p class="manga-count-pages" itemprop="numberOfPages">
                {{ manga.countPages - 1 }} <i class="fa-regular fa-images"></i>
            </p>
            {% if isLocked %}
                <div class="manga-unlock">
                    <span class="neon-button">{{ 'manga.unlock'|trans }}</span>
                </div>
            {% else %}
                <div class="thumbnail-tag">
                    {% if manga.tags is defined and not manga.tags.empty %}
                        {% for tag in manga.tags|slice(0,5) %}
                            <object>
                                <a href="{{ url('search', {'q': tag.name == app.request.query.get('tag') ? null : tag.name, 's':true}) }}"
                                   totalx="158" draggable="false">
                                    <span class="tag-rounded" totalx="158">{{ tag.name }}</span>
                                </a>
                            </object>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            <img alt="{{ manga.title |raw }}" title="{{ manga.title |raw }}"
                 class='img-thumbnail {% if isLocked %}blur{% endif %}'
                 src='{{ app.request.getSchemeAndHttpHost() ~ asset( (manga.isOld ? 'media_old':'media') ~ '/' ~ manga.id ~ '/thumb.webp' ) }}'
            >
            {% if isLocked %}
                <img alt="locked" title="locked" class='img-thumbnail locked'
                     src='{{ app.request.getSchemeAndHttpHost() ~ asset( 'lock.webp' ) }}'>
            {% endif %}
        </div>
        {% if isLocked %}
            <div class="locked-text">
                <h2 itemprop="name">{% if manga.isOld %}{{ 'manga.old'|trans }}{% else %}{{ 'manga.new'|trans }}{% endif %}</h2>
            </div>
        {% else %}
            <div class="img-name">
                <h2 itemprop="name">{{ manga.title |raw }}</h2>
            </div>
        {% endif %}
    </a>
</article>

