{% set page = app.request.pathInfo|trim('/')|split('/')|last|number_format(0,'.','') %}
{% if page == 0 %}
    {% set page = 1 %}
{% endif %}
{% if total is not defined %}
    {% set total = mangas.count %}
{% endif %}
{% set maxPage = ((total/constant('App\\Entity\\Manga::NUM_ITEMS'))|round(0,'ceil'))?:1 %}
{% set route_name_suffix =  '_paginated' %}
{% set start = 1 %}
{% if page > 4 %}
    {% set start = page-3 %}
{% endif %}
{% set end = maxPage %}
{% if maxPage-page > 4 %}
    {% set end = page+3 %}
{% endif %}
<ul class="pagination">
    {% if page > 1 %}
        <li>
            <a href="{{ url(route_name~route_name_suffix,{'page':page-1}|merge(app.request.query.all)) }}">{{ 'manga.paginator.previous'|trans }}</a>
        </li>
    {% else %}
        <li class="disabled"><a href="#">{{ 'manga.paginator.previous'|trans }}</a></li>
    {% endif %}

    {% if page > 4 %}
        <li><a href="{{ url(route_name~route_name_suffix,{'page':1}|merge(app.request.query.all)) }}">1</a></li>
        <li class="disabled"><a href="#">...</a></li>
    {% endif %}

    {% for index in start..end %}
        {% if page == index %}
            <li class="active"><a href="#">{{ index }}</a></li>
        {% else %}
            <li>
                <a href="{{ url(route_name~route_name_suffix,{'page':index }|merge(app.request.query.all)) }}">{{ index }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if maxPage-page > 4 %}
        <li class="disabled"><a href="#">...</a></li>
        <li>
            <a href="{{ url(route_name~route_name_suffix,{'page':maxPage}|merge(app.request.query.all)) }}">{{ maxPage }}</a>
        </li>
    {% endif %}

    {% if page < maxPage %}
        <li>
            <a href="{{ url(route_name~route_name_suffix,{'page':page+1}|merge(app.request.query.all)) }}">{{ 'manga.paginator.next'|trans }}</a>
        </li>
    {% else %}
        <li class="disabled"><a href="#">{{ 'manga.paginator.next'|trans }}</a></li>
    {% endif %}
</ul>
