{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/tag') }}
{% endblock %}

{% block main %}
    <div class="row">

        <h3>{{ 'tag.popular_title'|trans }}</h3>
        <div class="tags">
            {% for tagDTO in tagsDTOsort|slice(0,19) %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': tagDTO.tag.name == app.request.query.get('tag') ? null : tagDTO.tag.name, 's':true}) }}"
                    class="label label-{{ tagDTO.tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                    >{{ tagDTO.tag.name }}
                        <i class="counter label">{{ tagDTO.countUse }}</i>
                    </a>
                </span>
            {% endfor %}
        </div>
    </div>
    <hr>
    <h3>{{ 'tag.all_title'|trans }}</h3>
    <div class="row">
        <ul class="letter-list col-md-12 text-center">
            {% for letter in 'a'|upper..'z'|upper %}
                <li><a href="{{ url('tags',{'qt':letter}) }}"> {{ letter }}</a></li>
            {% endfor %}
            <li class="other"><a href="{{ url('tags',{'qt':'other'}) }}"> {{ 'tag.other'|trans }}</a></li>
        </ul>
    </div>
    <div class="row">
        <ul class="tag-list">
            {% for tagDTO in tagsDTO %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': tagDTO.tag.name == app.request.query.get('tag') ? null : tagDTO.tag.name, 's':true}) }}"
                    class="label label-{{ tagDTO.tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                    >{{ tagDTO.tag.name }}
                        <i>{{ tagDTO.countUse }}</i>
                    </a>
                </span>
            {% endfor %}
        </ul>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/tag') }}
    {% endblock %}
{% endblock %}



