{% import "macro/encore.html.twig" as encore %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore.encore_absolute_link_tags('css/tag') }}
{% endblock %}

{% block main %}
    <h3>{{ 'tag.popular_title'|trans }}</h3>
    <div class="row">
        <ul class="tag-popular">
            {% for tagDTO in tagsDTOsort|slice(0,9) %}
                {% if loop.index in [1,4,7] %}
                    <div class="col-md-4">
                {% endif %}
                <div class="row">
                    <span class="label-container">
                        <a href="{{ url('search', {'q': tagDTO.tag.name == app.request.query.get('tag') ? null : tagDTO.tag.name, 's':true}) }}"
                           class="label label-{{ tagDTO.tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                        >{{ tagDTO.tag.name }}
                        </a>
                        <i class="counter label">{{ tagDTO.countUse }}</i>
                    </span>
                </div>
                {% if loop.index in [3,6,9] %}
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <hr>
    <h3>{{ 'tag.all_title'|trans }}</h3>
    <div class="row">
        <ul class="letter-list col-md-12 text-center">
            <li class="all">{{ 'tag.all'|trans }}</li>
            {% for letter in 'a'|upper..'z'|upper %}
                <li> {{ letter }}</li>
            {% endfor %}
            <li class="other">{{ 'tag.other'|trans }}</li>
        </ul>
    </div>
    <div class="row">
        <ul class="tag-list">
            {% for tagDTO in tagsDTO %}
                <span class="label-container">
                    <a href="{{ url('search', {'q': tagDTO.tag.name == app.request.query.get('tag') ? null : tagDTO.tag.name, 's':true}) }}"
                       class="label label-{{ tagDTO.tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
                    >{{ tagDTO.tag.name }}
                    </a>
                    <i class="counter label">{{ tagDTO.countUse }}</i>
                </span>
            {% endfor %}
        </ul>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore.encore_absolute_script_tags('js/tag') }}
    {% endblock %}
{% endblock %}



