{#
This template is used to render any error different from 403, 404 and 500.

This is the simplest way to customize error pages in Symfony applications.
In case you need it, you can also hook into the internal exception handling
made by Symfony. This allows you to perform advanced tasks and even recover
your application from some errors.
See https://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': status_code }) }}</h1>

    <p class="lead">
        {{ 'http_error.description'|trans({ '%status_code%': status_code }) }}
    </p>
    <p>
        {{ 'http_error.suggestion'|trans({ '%url%': path('index') })|raw }}
    </p>
    <div class="svg-container">
        <svg version="1.1"
             x="0px" y="0px" width="246.4893px" height="477.99094px" viewBox="0 0 246.4893 477.99094"
             xml:space="preserve">
        <symbol id="face-2_1_" viewBox="-66.62533 -28.70676 133.25066 57.41352">
            <g>
                <path d="M28.80477,11.41775c-0.6809-0.21727-1.30321,0.50519-0.96291,1.1337c4.04771,7.47583,16.18189,12.38684,22.70195,8.8008
                    c4.52904-2.49097,5.83671-4.83552,6.19533-6.18151c0.15086-0.56618-0.31425-1.09924-0.8938-1.01298
                    c-2.67316,0.39785-9.15388,2.11638-15.63285,0.71553S31.06913,12.14031,28.80477,11.41775z"/>
                <polygon points="40.85741,20.56427 45.41019,28.70676 45.41019,19.9514 			"/>
                <polygon points="48.43626,20.05684 55.29325,26.38215 52.57341,18.05997 			"/>
                <polygon points="53.34552,17.675 61.05024,18.02522 56.14724,14.87329 			"/>
            </g>
            <g>
                <path d="M-27.98438,11.41775c0.6809-0.21727,1.30321,0.50519,0.96291,1.1337c-4.04771,7.47583-16.18189,12.38684-22.70195,8.8008
                    c-4.52904-2.49097-5.83671-4.83552-6.19534-6.18151c-0.15085-0.56618,0.31426-1.09924,0.89381-1.01298
                    c2.67316,0.39785,9.15388,2.11638,15.63285,0.71553S-30.24874,12.14031-27.98438,11.41775z"/>
                <polygon points="-40.03702,20.56427 -44.58981,28.70676 -44.58981,19.9514 			"/>
                <polygon points="-47.61587,20.05684 -54.47286,26.38215 -51.75302,18.05997 			"/>
                <polygon points="-52.52514,17.675 -60.22985,18.02522 -55.32685,14.87329 			"/>
            </g>

            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
                M16.91019-26.7481c1,3.5-4,6.25-7.75,6.5s-13.80411,0.28355-15-4.5c-0.75-3,2-3.25,2-3.25"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-60.08981" y1="-0.2481" x2="-44.29207" y2="16.97925"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-50.76456" y1="2.09252" x2="-36.52508" y2="16.00838"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-42.67395" y1="-1.79098" x2="-21.96197" y2="20.86274"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-26.81634" y1="1.12164" x2="-9.98786" y2="23.45174"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-17.1076" y1="-0.49648" x2="-3.839" y2="19.24462"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-12.57686" y1="-3.73273" x2="5.54612" y2="25.06986"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-2.5445" y1="-2.76185" x2="14.93123" y2="19.89187"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="10.40049" y1="-0.17286" x2="21.0801" y2="19.24462"/>

            <path fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
                M17.84385-2.43823c0.97087,1.2945,13.91586,23.6246,13.91586,23.6246"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="28.52346" y1="0.79802" x2="42.43932" y2="17.30287"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="37.58495" y1="1.44527" x2="47.94094" y2="16.65562"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="47.02832" y1="-0.14373" x2="65.47492" y2="20.89187"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="56.53156" y1="1.79802" x2="65.91666" y2="14.41938"/>

            <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="-65.91666" y1="-0.62836" x2="-57.82605" y2="10.37488"/>
        </symbol>
            <symbol id="sy-face-1" viewBox="-63.81546 -38.78345 127.63091 77.5669">

                <path fill="none" stroke="#000000" stroke-width="0.99213" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" d="
                M-2.07605-38.28739c0,0,2.5,1.5,4,0"/>
                <g>

                    <path fill="none" stroke="#000000" stroke-width="2.12598" stroke-linecap="round"
                          stroke-linejoin="round" stroke-miterlimit="10" d="
                    M44.85252,25.52073c17.81183,0.77443,22.0402-30.58988,11.41506-39.65068s-24.82814-3.40748-27.92585,6.66008
                    S27.04069,24.74631,44.85252,25.52073z"/>
                    <path d="M36.23049,28.13903c7.36004,2.62395,16.2908,0.98327,21.40749-2.48622c0.85445-0.57938,1.91046,0.39585,1.39651,1.29118
                    c-4.1894,7.29829-15.49186,10.53106-23.80696,2.8386C34.42937,29.0442,35.2063,27.7739,36.23049,28.13903z"/>
                    <polygon points="42.61864,33.3295 44.23305,38.78345 45.9196,33.04439 			"/>
                    <polygon points="49.69181,32.50666 53.74067,37.13174 52.58223,31.68082 			"/>
                    <polygon points="56.05278,29.10166 60.80362,31.94301 58.7878,27.25889 			"/>

                    <path fill="none" stroke="#000000" stroke-width="2.12598" stroke-linecap="round"
                          stroke-linejoin="round" stroke-miterlimit="10" d="
                    M-45.00462,25.52073c-17.81183,0.77443-22.04021-30.58988-11.41506-39.65068s24.82814-3.40748,27.92585,6.66008
                    S-27.19279,24.74631-45.00462,25.52073z"/>
                    <path d="M-36.38259,28.13903c-7.36004,2.62395-16.2908,0.98327-21.40749-2.48622
                    c-0.85445-0.57938-1.91046,0.39585-1.39651,1.29118c4.1894,7.29829,15.49186,10.53106,23.80696,2.8386
                    C-34.58148,29.0442-35.35841,27.7739-36.38259,28.13903z"/>
                    <polygon points="-42.77075,33.3295 -44.38515,38.78345 -46.0717,33.04439 			"/>
                    <polygon points="-49.84391,32.50666 -53.89278,37.13174 -52.73434,31.68082 			"/>
                    <polygon points="-56.20489,29.10166 -60.95573,31.94301 -58.9399,27.25889 			"/>
                </g>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="-63.1068" y1="-28.40875" x2="-59.54692" y2="-24.20163"/>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="-58.25243" y1="-30.02687" x2="-56.31068" y2="-26.467"/>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="-50.07605" y1="-26.78739" x2="-50.86731" y2="-31.29224"/>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="63.1068" y1="-28.40875" x2="59.54692" y2="-24.20163"/>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="58.25243" y1="-30.02687" x2="56.31068" y2="-26.467"/>

                <line fill="none" stroke="#FFB98B" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="50.07605" y1="-26.78739" x2="50.86731" y2="-31.29224"/>
            </symbol>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M203.94801,167.49094c-3.74339,19-12.35976,31.58333-27.33333,38.58333c-14.97359,7-37.86415,10.58334-55.02139,10.58334h-0.62389
        c-17.15723,0-40.71447-3.91667-55.68806-10.91667s-22.92327-19.125-26.66666-38.125"/>
            <path fill="#FFFFFF" d="M58.94801,203.15761c21,4.33333,90.33333,12.66666,107.66667,14.66666s-13.33334,20-13.33334,20
        l-99.66666-16C53.61468,221.82426,37.94801,198.82426,58.94801,203.15761z"/>
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M143.11469,56.1576c-14.5,25.5-59.50001,43.66667-79.16667,44.33333"/>
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M121.28134,59.49094c-13.66666,18-63,44.66666-77.33333,51.33334"/>
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M143.28134,57.1576c17,30.33333,53.83334,55.5,53.83334,55.5s17.83333,46.50001-0.83334,76.50001"/>
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M45.28135,105.49094c0,0-15,52-1.66667,77.66667"/>
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M118.28134,2.49094c-31.33333-7.33333-78.83333,23.5-100.16666,74.16666s-21.16667,94.16666-5.5,109.83334s33,15.66667,33,15.66667"
            />
            <path fill="none" stroke="#000000" stroke-width="2.83465" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M132.28134,3.82427c28.66667-9.33333,67.66667,21.5,92.33334,74.83333s36.83331,127.50001-21.66667,126.50001"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M107.61468,34.49094c-34,22-59.33333,58.66666-59.33333,58.66666"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M146.11469,36.1576c34,16,49.5,66.33333,49.5,66.33333"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M214.94801,105.82427c29.33333,59.99999,10.66667,86.66666-11.33333,88.66666"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M221.94801,121.82427c6,30.66666,5.66667,62.33334-19.66667,72.99999"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M29.61468,119.82427c-20.66667,36.66666-0.66667,70.66666,18.66667,71.33334"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M55.94801,202.82426c36.33333,7.33334,106.33333,14,106.33333,14"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M191.28134,196.82426c12.33334,3.11061,12,8.55415,11,9.85023c-1,1.2961-7.33333,13.22006-7.33333,13.22006
        s10.33333,11.14632,10.33333,18.40439s-28.6687,19.39594-69.66666,21.25577c-35.33334,1.60287-48.66667-4.39711-48.66667-4.39711"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M52.94801,198.82426c0,0-8.33334,1.66667-8.33334,5.33334c0,3.66666,2,12.66666,2,12.66666"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M44.98865,208.36594c-17.37397,0.45833-6.04064,18.125-6.04064,18.125s-6.51145,14.48334,0.647,28.70848
        s26.32484,46.2473,32.50714,52.3438l3.52815-0.01843l-13.01562-24.86719h3l14.5,25l4-0.75l-10-24.25l4.75-1l8.5,26l3.75-0.5
        l-7.5-24.75l4,1.25l8.5,25h4.5l-8.5-23.75l4-1l8.5,25l4.75-0.25l-6.75-22.75l10.5,22.5l4.83536-0.0867
        c1.30154-1.77814-13.01536-33.02261-23.42764-44.70755S45.38942,215.6035,45.38942,215.6035"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M154.61469,271.40759l-16.25,76.75l25.25,4c0,0,34.25-70.25,35.75-106.74998"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M140.61469,349.15759c-4,9.5-4,17,4.5,18.5s13.5-15.5,13.5-15.5"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M93.61468,311.40759l8,36.25l-22.66666,4.5c0,0-24-49-34-86"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M101.94801,348.15759c4,9.5,4,17-4.5,18.5s-13.5-15.5-13.5-15.5"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M126.94801,400.49094l-0.66667,63.33334c0,0-5.33333,12.66666,5,12.66666c10.33334,0,13-12,13-12
        s16.08334-39.91666,24.08334-68.58334"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M117.28134,400.49094l0.66667,63.33334c0,0,6.33333,11-4.66667,11.66666s-13.33333-11-13.33333-11
        s-16.33334-39.41666-24.33334-68.08334"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M193.61469,280.15759l22.66666,91.66669c0,0-24.66666,28.66666-94,28.66666s-94-28-94-28l23-86.33334"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M166.28134,243.15761c0.33334-3.33334,20-13.33334,28-24"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M118.11468,23.1576c-29.5-3.5-64,43-71,73"/>
            <path fill="none" stroke="#000000" stroke-width="2.91717" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M165.11469,346.40759l-10.37837-2.45328c-3.08521-0.72931-4.93372-3.71387-4.09695-6.6149l0,0
        c0.81755-2.83447,3.89461-4.51953,6.90163-3.77951l12.8237,3.15591"/>
            <path fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M72.36468,337.65759l13.92052-3.05106c2.45664-0.53845,4.92098,0.87485,5.69685,3.26712l0.00001,0.00003
        c0.87998,2.71329-0.7403,5.60059-3.5147,6.26312l-11.60268,2.77078"/>
            <line fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="127.61468" y1="444.15759" x2="150.61469" y2="445.90759"/>
            <line fill="none" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" x1="117.61468" y1="443.40759" x2="91.86468" y2="444.90759"/>
            <polyline fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="
        104.11468,445.15759 112.61468,451.15759 105.61468,459.15759 114.11468,462.40759 "/>
            <polyline fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="
        111.86468,443.65759 103.11468,452.65759 114.11468,458.15759 106.86468,464.15759 "/>
            <polyline fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="
        139.61469,445.15759 131.11469,451.15759 138.11469,459.15759 129.61469,462.40759 "/>
            <polyline fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" points="
        131.86469,443.65759 140.61469,452.65759 129.61469,458.15759 136.86469,464.15759 "/>
            <circle fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="10" cx="121.28134" cy="280.99094" r="6.5"/>
            <circle fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="10" cx="121.28134" cy="320.99094" r="6.5"/>
            <circle fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="10" cx="121.28134" cy="360.99094" r="6.5"/>
            <path fill="none" stroke="#000000" stroke-width="1.41732" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" d="
        M39.61468,225.90761c4.66667,13,9,27.58333,9,27.58333"/>


            <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                <g class="link">
                    <ellipse cx="120" cy="65.98379" rx="99.9183" ry="65.98379"/>
                </g>
            </a>
            <g class="facebox">
                <g class="onmouse">
                    <use xlink:href="#face-2_1_" width="133.25066" height="57.41352" x="-66.62533" y="-28.70676"
                         transform="matrix(1 0 0 -1 121.20448 179.1595)" overflow="visible"/>
                </g>
                <g class="mousedown">
                    <use xlink:href="#sy-face-1" width="127.63091" height="77.5669" x="-63.81546" y="-38.78345"
                         transform="matrix(1 0 0 -1 121.19073 155.37021)" overflow="visible"/>
                </g>
                <g>


    </svg>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
