{% extends 'form/theme.html.twig' %}

{% block title %}{{ 'change_password.title'|trans }}{% endblock %}


    {% block body %}
        <div class="form">
            <div class="buttons row">
                <div class="col"><a href="{{ path('user_index') }}">{{ 'change_password.link.back_account'|trans }}</a>
                </div>
                <div class="col"><a href="{{ path('user_edit') }}">{{ 'change_password.link.back_edit'|trans }}</a>
                </div>
            </div>

            <div class="tab-content">
                <div id="login">
                    <h1>{{ 'change_password.title'|trans }}</h1>

                    <form action="{{ path('change_password') }}" method="post">

                        {% include 'form/field.html.twig' with {'formField':passwordForm.plainPassword.first} %}

                        {% include 'form/field.html.twig' with {'formField':passwordForm.plainPassword.second} %}

                        {{ form_row(passwordForm._token) }}

                        <button type="submit"
                                class="button button-block btn-register">{{ 'edit_profile.form.button'|trans }}</button>

                    </form>

                </div>

            </div><!-- tab-content -->

        </div> <!-- /form -->
    {% endblock %}