{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/form') }}
    {{ encore_entry_link_tags('css/creator') }}
{% endblock %}

{% block main %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if user.email is null %}
            <div class="center-div">
                <p>{{ 'creator.missing_email.content'|trans }}</p>
                <div class="button-effect">
                    <a class="effect" href="{{ url('user_edit') }}">{{ 'creator.missing_email.button'|trans }}</a>
                </div>
            </div>
        {% else %}
            <h1>Creator Dashboard</h1>
            <div class="form">

                <ul class="tab-group">
                    <li class="tab active"><a href="#new">{{ 'creator.form.new.tab'|trans }}</a></li>
                    <li class="tab"><a href="#traduction">{{ 'creator.form.traduction.tab'|trans }}</a></li>
                    <li class="tab"><a href="#compilation">{{ 'creator.form.compilation.tab'|trans }}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="new">
                        {{ form_start(mangaNewForm) }}
                        {{ form_end(mangaNewForm) }}
                    </div>
                    <div id="traduction">
                        {{ form_start(mangaTranslationForm) }}
                        {{ form_end(mangaTranslationForm) }}
                    </div>
                    <div id="compilation">
                        <div id="comming-soon">Coming soon</div>
                    </div>

                </div><!-- tab-content -->

            </div> <!-- /form -->
        {% endif %}
    {% else %}
        <div class="center-div">
            <p>{{ 'creator.anonymous.content'|trans }}</p>
            <div class="button-effect">
                <a class="effect" href="{{ url('app_login') }}">{{ 'menu.login'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/form') }}
    {{ encore_entry_script_tags('js/creator') }}
{% endblock %}
