{% extends 'form/theme.html.twig' %}

{% block title %}{{ 'edit_profile.title'|trans }}{% endblock %}

{% block body %}
    <div class="form">
        <div class="buttons row">
            <div class="col"><a href="{{ path('user_index') }}">{{ 'edit_profile.link.back_account'|trans }}</a></div>
            <div class="col"><a href="{{ path('change_password') }}">{{ 'edit_profile.link.change_password'|trans }}</a>
            </div>
        </div>

        <div class="tab-content">
            <div id="edit">
                <h1>{{ 'edit_profile.title'|trans }}</h1>

                {% if editionSave == true %}
                    <div id="edition-save">
                        {{ 'edit_profile.save'|trans }}
                    </div>
                {% endif %}

                <form action="{{ path('user_edit') }}" method="post">
                    <p>{{ 'edit_profile.form.text_email'|trans }}</p>
                    {% include 'form/field.html.twig' with {'formField':editForm.email,'required':false} %}

                    <p>{{ 'edit_profile.form.text_username'|trans }}</p>
                    {% include 'form/field.html.twig' with {'formField':editForm.username,'required':false} %}

                    <p>{{ 'edit_profile.form.text_public_name'|trans }}</p>
                    {% include 'form/field.html.twig' with {'formField':editForm.public_name,'required':false} %}

                    {{ form_row(editForm._token) }}

                    <button type="submit"
                            class="button button-block btn-register">{{ 'edit_profile.form.button'|trans }}</button>

                </form>

            </div>

        </div><!-- tab-content -->


        <div class="buttons delete-link row">
            <div class="col"></div>
            <div class="col"><a href="{{ path('user_delete') }}"
                                class="c-red">{{ 'edit_profile.link.delete'|trans }}</a></div>
        </div>


    </div> <!-- /form -->
{% endblock %}
