{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/account') }}
{% endblock %}

{% block title %}{{ 'account.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            {% if not user.patreonAccessToken %}
                <a class="btn-effect pulse-orange" href="{{ patreonUrl }}">{{ 'account.bind.patreon'|trans }}</a>
            {% else %}
                <p id="patreon-binded">{{ 'account.binded.patreon'|trans }}</p>
            {% endif %}
        </div>
    </div>
    <div class="account-title">
        {% if user.isPatreonAllow(1) and user.isUnlockOldManga == 0 %}
            <p class="premium premium-title">Premium</p>
        {% endif %}
        {% if user.isUnlockOldManga and user.isPatreonAllow(1) == 0 %}
            <p class="lifetime lifetime-title">{{ 'life_product.title'|trans }}</p>
        {% endif %}
        {% if user.isPatreonAllow(1) and user.isUnlockOldManga %}
            <span class="premium premium-title">Premium</span><span
                class="lifetime lifetime-title"> + {{ 'life_product.title'|trans }}</span>
        {% endif %}
    </div>

    <div class="row stats">
        <div class="col-md card card-1">
            <div class="card-text"><i class="fa fa-crown"></i> {{ 'account.rank'|trans }} : {{ rank }}</i></div>
        </div>
        <div class="col-md card card-1">
            <div class="card-text"><i class="fa fa-star"></i> {{ 'account.points'|trans }} : {{ user.points }}</div>
        </div>
    </div>

    <div class="row stats">
        <div class="col-md card card-1">
            {% set days = (user.timeSpent/86400)|round(0,'floor') %}
            {% set hours = ((user.timeSpent-days*86400)/3600)|round(0,'floor') %}
            {% set minutes = ((user.timeSpent-(hours*3600+days*86400))/60)|round(0,'floor') %}
            <div class="card-text"><i class="fa fa-clock"></i> {{ 'account.time_spent'|trans }} :
                {{ 'account.days'|trans({"%count%":days}) }}  {{ 'account.hours'|trans({"%count%":hours}) }} {{ 'account.minutes'|trans({"%count%":minutes}) }}
            </div>
        </div>
        <div class="col-md card card-1">
            <div class="card-text"><i class="fa fa-eye"></i> {{ 'account.manga_read'|trans }}
                : {{ user.countMangasRead }}</div>
        </div>
        <div class="col-md card card-1">
            <div class="card-text"><i class="fa fa-download"></i> {{ 'account.manga_download'|trans }}
                : {{ user.countMangasDownload }}
            </div>
        </div>
    </div>


    <div class="row">
        <h2>{{ 'account.last_manga_read'|trans }} <a
                    href="{{ url('index_read') }}">{{ 'account.favorite_manga.link'|trans }}</a></h2>
        <div>
            {% for manga in user.lastMangasRead|slice(0,5)|reverse %}
                {% include 'manga.html.twig' %}
            {% else %}
                <div class="gradient-border"><a
                            href="{{ path('index') }}"> {{ 'account.manga.discover_new_manga'|trans }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h2>{{ 'account.favorite_manga'|trans }} <a
                    href="{{ url('index_favorite') }}">{{ 'account.favorite_manga.link'|trans }}</a></h2>
        <div>
            {% for manga in user.favoriteMangas|slice(0,5)|reverse %}
                {% include 'manga.html.twig' %}
            {% else %}
                <div class="gradient-border">{{ 'account.manga.add_manga_favorite'|trans }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
